<!--Contenido---------------------------------------------------------------------------------------->
<div class="center">
    <table bgcolor=#cccccc>
      <tr>
        <td>
          <div style="text-align: center;">
            <h1> Registrar Movimiento</h1>
            <div>
              ID: {{producto.id}}<br><br>
              Nombre: {{producto.nombre}}<br><br>r>
              Existencias: {{producto.cantidadExistencia}}{{producto.unidadMedida}}
            </div>
            <div class="center" *ngIf = "producto.id == 0"><input type="button" name="agregar_producto" value="Agregar" (click) = "agregarProducto()"></div>
            <div class="center" *ngIf = "producto.id != 0"><input type="button" name="agregar_producto" value="Guardar" (click) = "agregarProducto()"></div>
        
     
    