
<div class="contenedor-buscar">

  <label for="buscar">
    Buscar
  </label>
  <input type="text" name="buscar" [(ngModel)]="parametro">
</div>


<div class="contenedor-buscar">

  <label for="buscar" >
    Orden
  </label>
  <select class= "select-orden" [(ngModel)]="orden">>
    <option value="desc" selected="true">Descendente (mas reciente primero)</option>
    <option value="asc">Ascendente (mas antiguo primero)</option>
  </select>
  
</div>



<div class="contenedor-buscar">

  <label for="buscar" >
    Tipo
  </label>
  <select class= "select-orden" [(ngModel)]="tipo">
    <option value="Todos" selected="true">Todos</option>
    <option value="Entrada" selected="true">Entrada</option>
    <option value="Salida">Salidas</option>
  </select>
  
</div>

<div class="contenedor-buscar">
  <button class="buscar" (click)=listarMovimientos()>Buscar</button>
</div>

<div class="center">
<table class="lista">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Tipo
      </th>
      <th>
        ID Producto
      </th>
      <th>
        Producto
      </th>
      <th>
        Cantidad
      </th>
      <th>
        Fecha y Hora
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movimiento of movimientos">
      <td>{{movimiento.id}}</td>
      <td>{{movimiento.tipo}}</td>
      <td>{{movimiento.producto.id}}</td>
      <td>{{movimiento.producto.nombre}}</td>
      <td>{{movimiento.cantidad}}</td>
      <td>{{movimiento.fechaHora}}</td>
    </tr>
  </tbody>
</table>
</div>