<div class="center contenedor">
 <table bgcolor=gray>
  <tr>
    <td><img src="assets/logo.png"></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td>

      <nav>
        <div id="MenuPrincipal" class="nav-container">
          <ul id="nodoPrincipal" class="nav-menu slideUp w-divider">
            <li class="nav-dropdown">
              <a>
                <h3>Proveedor</h3>
              </a>
            </li>
            <li class="nav-dropdown">
              <a>
                <h3>Producto</h3><span class="s-button s-collapse-trigger">+</span>
              </a>
              <ul>
                <li><a routerLink="Producto/agregarProducto">
                    <h3>Agregar producto</h3>
                  </a>
                </li>
                <li><a routerLink="Producto/listarProductos">
                    <h3>Listar Productos</h3>
                  </a></li>
                <li><a routerLink="Producto/listarMovimientos">
                    <h3>Ver producto</h3>
                  </a></li>
              </ul>
            </li>
            <li><a>
                <h3>Usuario</h3>
              </a></li>
            <li><a>
                <h3>Ayuda</h3>
              </a></li>
            <li><a>
                <h3>Salir</h3>
              </a></li>
          </ul>
          <a class="s-button s-collapse-trigger" href="#">+</a>
        </div>
      </nav>

    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
  </tr>
</table>
</div>
<!--Fin de Menu-->